

h2 {
  color: #ff6666;  
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a > span {
  color: #ff6666;  
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a strong {
  color: #ff6666;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button {
  background-color: #ff6666;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
  color: #ff6666;  
}
#menu {
  background-color: lightgreen; 
}
